# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
dist
dist-ssr
*.local

# Environment
.env
.env.local
.env.production
.env*.backup

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Security
*.key
*.pem
*.cert
*.json

# Firebase
firebase-*.json
*-firebase-adminsdk-*.json

# Docker
.dockerignore
Dockerfile

# System
Thumbs.db
node_modules
