# Copiar este archivo a .env.production y completar los valores
PORT=3004
NODE_ENV=production

# Firebase
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Configuración de la app
API_BASE_URL=
ALLOWED_ORIGINS=
